services:
  tor:
    image: ghcr.io/simonhaas/torproxy/torproxy:latest
    restart: unless-stopped
    networks:
      tor_net:
        ipv4_address: 172.96.1.21

  tailscale:
    image: tailscale/tailscale:latest
    restart: unless-stopped
    environment:
      TS_AUTHKEY:
      TS_EXTRA_ARGS: '--accept-dns=false'
      TS_STATE_DIR: /var/lib/tailscale
      TS_HOSTNAME:
      TS_SERVE_CONFIG: /config/ts-serve.json # TODO supposed to make websocket work
    volumes:
      - tailscale-data:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
      - ./ts-serve.json:/config/ts-serve.json:ro
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    dns:
      - 172.96.1.22
    networks:
      tor_net:
        ipv4_address: 172.96.1.22

  dns:
    image: joweisberg/dnsmasq
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    command: >
      --no-resolv
      --server=1.1.1.1
      --address=/.carrot/${TAILSCALE_IP}
    network_mode: "service:tailscale"

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./carrot.crt:/etc/ssl/carrot.crt:ro
      - ./carrot.key:/etc/ssl/carrot.key:ro
    network_mode: "service:tailscale"

volumes:
  tailscale-data:

networks:
  tor_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.96.1.0/24
